<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>My Blogs</title>
  </head>
  <body>
    <header>
      <div class="card">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
        <h1> <a class="btn btn-outline-success" href="{% url 'blogview' %}">All Blogs</a></h1>
        <h1> <a class="btn btn-outline-success" href="{% url 'createview' %}">Create a Blog</a></h1>
        <h1> <a class="btn btn-outline-success" href="{% url 'nextview' %}">Next</a></h1>

      </nav>
      </div>
    </header>
    {% block body_block%}
    <div class="jumbotron" >
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">

      {% for i in insert_me %}
             <h3 class="card-title"><a href="{% url "detailview" i.pk  %}">{{ i.title }}</a></h3>
             <p class="card-text">{{ i.body }}</p>
      {% endfor %}
      {% endblock %}
    </div>
    </div>


  </body>
</html>
